{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="container-fluid">
        <h2 class="my-3">All posts</h2>
        
        {% if user.is_authenticated %}
        <div class="card mb-2">
            <div class="card-body">
                <form method="post" id="new-post-form">
                    {% csrf_token %}
                    <div class="form-group mb-2">
                        <label for="{{ form.content.id_for_label }}" class="form-label">{{ form.content.label }}</label>
                        {{ form.content }}
                    </div>
                    <button type="submit" class="btn btn-primary">Post</button>
                </form>
            </div>
        </div>
        {% endif %}
        <hr>
        <div id="feed" data-current-username="{{ request.user.username }}" data-csrf-token="{{ csrf_token }}"></div>
  
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="save">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}