{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<div class="rounded mt-2" id="profile">
    <div class="px-4 pt-0 cover">
        <div class="media d-inline-block profile-head position-relative">
            <div class="profile mr-3 d-flex justify-content-between">
                <img src="https://th.bing.com/th/id/OIP.3MlyY6tvMoIj3wqrC00g-wAAAA?rs=1&pid=ImgDetMain" alt="default profile picture" width="130" class="rounded-circle mb-2 img-thumbnail">


                
                <!-- <button class="btn btn-block">Edit profile</button> -->
            </div>
            <div class="media-body mb-3 ">
                
                <h4 class="mt-0 mb-0" id="profile-name" data-username="{{ username }}"></h4>
                <p class="small mb-4" id="profile-username"></p>
                {% csrf_token %}
            </div>  
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="save">Save changes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'network/profile.js' %}"></script>
{% endblock %}